
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Azeret Mono", monospace;
}

/* banner starts */
.banner{
    width: 1440px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    img{
        width: 240px;
        height: 240px;
    }

    h1{
      font-weight: 800;
      font-size: 40px;
      color: rgb(13, 19, 33);
      margin-top: 32px;
    }
    p{
     width: 952px;
     font-weight: 400;
     font-size: 16px;
     color: rgb(13, 19, 33);
     margin-top: 25px;
    }
}

.banner-button{
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    background-color:rgb(13, 19, 33) ;
    margin-top: 32px;
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
}



/* why web development starts here */

.web-dev{
    width: 1140px;
    height: 1200px;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 75px;
    padding: 80px 97px 80px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   h2{
     font-weight: 800;
     font-size: 32px;
     text-align: center;
   }
   
}

.text-contant{
    width: 852px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
   }

.web-contant{
    width: 946px;
    height: 336px;
    margin-top: 32px;
    margin:0 auto;
    padding: 48px;
    display: flex;
    
    img{
        width:274px;
        height: 240px;
        background-color: white;
    }
    button{
        margin-top: 32px;
        
        padding: 12px 20px 12px 20px;
        background-color: white;
        cursor: pointer;
    }

   p{
   
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
   } 
   h3{
    font-weight: 700;
    font-size: 24px;
   }
}


.web-btn{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.development1{
    padding-right:98px ;
    background-color: white;
}


.development2{
    padding-left: 98px;
    background-color: white;
}

.development3{
    padding-right:98px ;
    background-color: white;
}




/* my inspiration section starts here */

.inspiration{



    width: 1140px;
    height: 775px;
    margin: 0 auto ;
    margin-top: 108px;
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h3{
        font-weight: 800;
        font-size: 32px;
       
    }
    p{
    width: 852px;
    margin-top: 24px;
     font-weight: 400;
     font-size: 16px;
    }
   
}

.video{
    margin-top: 48px;
    width: 1140px;
    height: 614px;
    padding: 32px;
    border-radius:16px ;
    border: 1px solid rgb(13, 19, 33, 0.2);
    
}



/* my current target starts here  */
.target-skills{
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 118px;
    h2{
        font-weight:800 ;
        font-size: 32px;
    }
}
.target-description{
    text-align: center;
    width: 852px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
}

.skills-container{
    display:flex ;
    gap: 24px; 
    margin-top: 48px;
}

.skill{
    padding: 40px;
    width: 364px;
    height: 300px;
    border-radius: 10px;
}

.skill-titel{
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 24px;
}

.skill-description{
    padding-bottom:20px ;
    font-weight: 400;
    font-size: 16px;
}

.html{
background-color: rgba(255, 76, 30, 0.05);
}
.css{
  background-color: rgba(0, 76, 232, 0.05);
}

.js{
    background-color:rgba(255, 223, 0, 0.05) ;
}

.more{
    font-weight: 700;
    font-size: 16px;
    color: rgb(13, 19, 33);
}




/* support section starts here */

.support{
    width: 1140px;
    height:314px ;
    margin: 0 auto;
    margin-top: 77px;
    background-image: url(./assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0,0.5) ;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}


.support-title{
    padding: 65px 0px 0px 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 32px;
}

.support-description{
    width: 685px;
     margin-top: 16px;
     color: rgb(255, 255, 255);
     font-weight: 400;
     font-size: 16px;
}


.search-bar{
    margin-top: 40px;
    width: 684px;
    height: 58px;
    display: flex;
    gap: 16px;
}

.Submit-text{
padding-left: 20px;
width: 548px;
height: 100%;
border-radius: 8px;
font-weight: 400;
font-size: 16px;
}

.Submit-btn{
  width: 120px;
  height: 100%;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}




/* footer part starts here */


#Contact{
    margin-top: 80px;
    width: 1440px;
    display: flex;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 20px;
    padding: 32px 150px 32px 150px;
    align-items: center;
    justify-content: space-between;
}


.icon{
    display: flex;
    list-style: none;
    gap: 24px;
    cursor: pointer;
}

